MONGO_URI='mongodb://localhost:27017'
DB_NAME='amplify'
API_URL='http://localhost:3333'
PORT=3333
JWT_SECRET='1234'
CLIENT_BASE_URL='http://localhost:3000'

SMTP_HOST='smtppro.zoho.com'
SMTP_PORT=465
SMTP_USERNAME='akinola@yahoo.com'
SMTP_PASSWORD='password'
SMTP_FROM='"Amplify" <akinola@yahoo.com>'

FIREBASE_SERVICE_ACCOUNT_JSON={}

# amplify integrations
INTEGRATION_API_URL='http://localhost:3334'
INTEGRATION_API_KEY='a123456' # API_KEY in #amplify integrations

# google maps/places
GOOGLE_MAPS_API_KEY='a123456'
# AWS CREDENTIALS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
